@charset "UTF-8";
body {
    /* font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif; */
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.6rem;
    width: 100%;
    padding: 2.5rem 2.7rem;
    margin: 0 auto;
    display: block;
    background-color: #fff;
}

@media screen and (max-width: 1024px) {
    body {
        padding: 2rem;
    }
}

@media screen and (max-width: 768px) {
    body {
        font-size: 1.4rem;
    }
}

body>main {
    -ms-overflow-x: hidden;
}

figure>img {
    width: 100%;
}

@supports (-ms-ime-align: auto) {
    body>main {
        overflow: hidden;
    }
}

.container-small {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .container-small {
        padding: 0 1rem;
    }
}

.f-symbol {
    display: inline-block;
    font-weight: 400;
}

.text-description {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 2.3rem;
    font-weight: 400;
}

.text-description.small {
    font-size: 1.7rem;
}

.text-description.tiny {
    font-size: 1.4rem;
}

@media screen and (max-width: 1024px) {
    .text-description {
        font-size: 1.643vw;
    }
}

@media screen and (max-width: 768px) {
    .text-description {
        font-size: 1.4rem;
    }
    .text-description.small,
    .text-description.tiny {
        font-size: 1.2rem;
    }
}

.bold {
    font-weight: 700;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-item {
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .column {
    width: 1000%;
}

.to-support {
    min-height: 4rem;
    display: inline-flex;
    align-items: center;
    border: 0.1rem solid #00A74D;
    border-radius: 0.8rem;
    color: #00A74D;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 0 1.5rem;
}

@media screen and (max-width: 768px) {
    .to-support {
        font-size: 1.6rem;
    }
}

.orange-color {
    color: #F7781E;
}

.consultation-button {
    width: 100%;
    max-width: 35.7rem;
    min-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00A74D;
    border: 2px solid #66ca94;
    border-radius: 0.6rem;
    font-size: 1.7rem;
    font-weight: 700;
    color: #fff;
    position: relative;
    transition: all 0.5s ease;
}

.consultation-button:hover {
    opacity: 0.75;
}

.consultation-button .icon-inside {
    position: relative;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: 2px solid #66ca94;
    background-color: #fff;
    margin-left: 1.5rem;
}

.consultation-button .icon-inside::after {
    content: "";
    width: 1rem;
    height: 1rem;
    border-right: 2px solid #00A74D;
    border-bottom: 2px solid #00A74D;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%) rotate(-45deg);
}

@media screen and (max-width: 768px) {
    .consultation-button {
        font-size: 1.4rem;
    }
}

.nav {
    width: 100%;
    min-height: 5rem;
    display: flex;
    align-items: center;
    background-color: #F7781E;
    position: relative;
    top: 8.5rem;
    left: 0;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.5s ease;
}

.nav::after {
    content: "";
    width: 100%;
    height: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.nav.fixed {
    max-width: calc(100% - 5.4rem);
    position: fixed;
    left: 2.7rem;
    z-index: 1024;
}

.nav.active {
    transform: translateY(-8.5rem);
}

.nav-item {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav .nav-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 1.7rem;
    font-weight: 700;
    transition: all 0.3s ease;
}

.nav .nav-link::before {
    content: "";
    display: block;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid #fff;
    border-right: 0;
    margin-right: 0.5rem;
    border-radius: 2px;
}

.nav .nav-link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1400px) {
    .nav {
        top: 6.07vw;
    }
    .nav.active {
        transform: translateY(-6.07vw);
    }
    .nav .nav-link {
        font-size: 1.215vw;
    }
}

@media screen and (max-width: 1024px) {
    .nav.fixed {
        max-width: calc(100% - 4rem);
        left: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .nav .nav-link {
        font-size: 1.5625vw;
    }
}

@media screen and (max-width: 767px) {
    .nav {
        top: 5.4rem;
    }
    .nav.active {
        transform: translateY(0);
    }
    .nav .nav-link {
        font-size: 1.4rem;
        padding: 1rem 0;
    }
    .nav-item {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }
}

.hamburger {
    position: fixed;
    z-index: 1034;
    display: none;
    top: 2rem;
    right: 2rem;
    min-width: 3rem;
    width: 3rem;
    height: 2rem;
    transform-origin: center;
    transition: all 0.3s ease;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .hamburger {
        display: block;
        width: 3.4rem;
        height: 3.4rem;
        border: 1px solid #000;
        margin: 0;
    }
}

.hamburger span {
    height: 1px;
    background-color: #000;
    right: 8px;
    position: absolute;
    transition: all 0.3s ease;
}

.hamburger span:nth-of-type(1) {
    top: 10px;
    width: 17px;
}

.hamburger span:nth-of-type(2) {
    top: 15px;
    width: 15px;
}

.hamburger span:nth-of-type(3) {
    top: 20px;
    width: 10px;
}

.hamburger:hover {
    opacity: 0.75;
}

.hamburger:hover span {
    width: 17px;
}

.hamburger.active span {
    width: 17px;
}

.hamburger.active span:nth-of-type(1) {
    top: 15px;
    transform: rotate(135deg);
}

.hamburger.active span:nth-of-type(2) {
    opacity: 0;
}

.hamburger.active span:nth-of-type(3) {
    top: 15px;
    transform: rotate(-135deg);
}

.footer {
    margin-top: 3.5rem;
    padding-top: 3.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer .text-description {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.footer .to-top {
    margin-top: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    color: #000;
}

.footer .to-top:hover {
    opacity: 0.75;
}

.footer .to-top::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    border: 1px solid #000;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(-45deg);
}

.footer-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4rem;
    padding-bottom: 3.5rem;
}

.footer-link li {
    width: 100%;
    max-width: calc((100% / 3) - 25px);
}

.footer-link li a {
    display: block;
    transition: all 0.3s ease;
}

.footer-link li a:hover {
    opacity: 0.75;
}

@media screen and (max-width: 767px) {
    .footer-link li {
        max-width: calc((100% / 3) - 5px);
    }
}