@charset "UTF-8";
@import "./functions.scss";
$font_noto:'Noto Sans JP',
sans-serif;
.hero {
    width: 100%;
    position: relative;
    &-image {
        width: 100%;
        height: 100%;
        position: relative;
        &::after {
            content: '';
            width: 100%;
            height: 1.7rem;
            border-bottom: 1px solid #fff;
            background-color: rgba(#fff, .5);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            box-shadow: 0 10px 10px -5px rgba(#000, .5);
        }
        .img-grand {
            position: absolute;
            z-index: 1;
            max-width: 33.6rem;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        @include screen1400 {
            .img-grand {
                max-width: 24vw;
            }
        }
    }
    .content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        h1 {
            width: 100%;
            max-width: 82.2rem;
            bottom: 18vw;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            z-index: 1;
        }
        .right-content {
            position: absolute;
            top: 0;
            right: 5rem;
            display: block;
            ul {
                display: flex;
                li {
                    >a {
                        height: 3.5rem;
                        margin: 0 .4rem;
                        padding: 0 1.3rem;
                        display: flex;
                        align-items: center;
                        border-bottom-right-radius: 1.2rem;
                        border-bottom-left-radius: 1.2rem;
                        background-color: rgba(#0092D9, .2);
                        color: #0092D9;
                        font-size: 1.4rem;
                        font-weight: 700;
                        transition: all .3s ease;
                        &:hover {
                            opacity: .75;
                        }
                        &::after {
                            content: '';
                            display: block;
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                            border-left: 6px solid #0092D9;
                            border-right: 0;
                            margin-left: .5rem;
                            border-radius: 2px;
                        }
                        &.gr {
                            background-color: rgba(#00A74D, .2);
                            color: #00A74D;
                            &::after {
                                border-left: 6px solid #00A74D;
                            }
                        }
                    }
                }
            }
            @include mobile {
                position: fixed;
                z-index: 1030;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 2rem;
                background-color: rgba(#fff, 0);
                transform: translateX(100%);
                visibility: hidden;
                transition: all .5s ease;
                ul {
                    width: 100%;
                    // max-width: 375px;
                    margin-top: 5.2rem;
                    flex-direction: column;
                    li {
                        >a {
                            margin: .5rem 0;
                            border-radius: .8rem;
                        }
                    }
                }
                &.active {
                    visibility: visible;
                    transform: translateX(0%);
                    display: block;
                    background-color: rgba(#fff, 1);
                }
            }
        }
        @include screen1400 {
            h1 {
                max-width: 58.7vw;
            }
        }
    }
    @include near_mobile {
        height: 500px;
        &-image {
            .hero-bg {
                height: 100%;
                object-fit: cover;
            }
            .img-grand {
                max-width: 30rem;
            }
        }
        .content {
            h1 {
                max-width: 30rem;
                bottom: 23rem;
            }
        }
    }
}

.item-box {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    .item {
        width: 100%;
        display: flex;
        border: 2px solid #F7781E;
        border-radius: 1.2rem;
        .content {
            width: 100%;
            h3 {
                font-size: 3rem;
                line-height: 1.4;
                color: #000;
                &+.custom-hr {
                    margin-top: 1.5rem;
                }
            }
        }
    }
    @include screen1400 {
        .item {
            .content {
                h3 {
                    font-size: 2.142vw;
                }
            }
        }
    }
    @include mobile {
        .item {
            flex-direction: column;
            align-items: center;
            .content {
                h3 {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.link-list {
    display: flex;
    li>a {
        color: #0092D9;
        border-bottom: 2px solid #0092D9;
        position: relative;
        display: inline-block;
        margin-right: 1rem;
        padding: .5rem 0;
        transition: all .3s ease;
        font-size: 1.3rem;
        &:hover {
            opacity: .75;
        }
        &::after {
            content: '';
            display: inline-block;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 6px solid #0092D9;
            border-right: 0;
            margin-left: .5rem;
            border-radius: 2px;
        }
    }
}

.triangle-icon {
    width: 1px;
    display: block;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    border-top: 16px solid #f99245;
    border-bottom: 0;
    margin-top: 1rem;
    border-radius: 3px;
}

.features {
    width: 100%;
    &-box {
        padding-top: 6rem;
        position: relative;
        z-index: 1;
        @include mobile {
            padding-top: 4rem;
        }
        &.has-background {
            background-color: #FFF9DF;
        }
        &.center {
            text-align: center;
            .consultation-button {
                margin-left: auto;
                margin-right: auto;
                margin-top: 3rem;
                .icon-inside {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(-2.5rem, -50%);
                }
            }
        }
        .box {
            &-item {
                max-width: calc(50% - 30px);
                border: 2px solid #F7781E;
                border-radius: 1rem;
                padding: 2.5rem;
                margin-top: 6.5rem;
                @include mobile {
                    max-width: 100%;
                    margin-top: 2.5rem;
                }
                .title {
                    font-size: 1.7rem;
                    color: #F7781E;
                    font-weight: 700;
                    text-align: center;
                    font-family: $font_noto;
                    .lead {
                        font-size: 2.5rem;
                        font-weight: 500;
                        color: #000;
                        display: block;
                        margin-top: 1.2rem;
                    }
                }
                figure {
                    max-width: 12.5rem;
                    margin: 0 auto;
                    margin-top: 2rem;
                }
                .custom-hr {
                    border-color: #666666;
                }
                .text-description {
                    margin-top: 2rem;
                    letter-spacing: .2rem;
                    font-weight: 700;
                }
                .text-another {
                    font-size: 1.4rem;
                    font-weight: 500;
                    margin-top: .5rem;
                    &.gray {
                        opacity: .6;
                    }
                }
                &+.consultation-button {
                    margin-top: 3rem;
                    margin-bottom: 4rem;
                }
            }
        }
        .item-box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .request {
                width: 100%;
                display: flex;
                justify-content: space-around;
                &-item {
                    font-size: 1.7rem;
                    font-weight: 700;
                    color: #000;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 1.2rem;
                    margin-bottom: 1.2rem;
                }
                @include mobile {
                    &-item {
                        font-size: 1.4rem;
                    }
                }
            }
            .item {
                &.item1 {
                    margin-top: 8rem;
                    padding: 2rem 4rem 2.5rem 0;
                    background-color: #fff;
                    .avatar {
                        max-width: 23rem;
                        min-width: 23rem;
                        min-height: 23rem;
                        position: relative;
                        margin-right: 3rem;
                        img {
                            position: absolute;
                            left: 0;
                            top: 0;
                            transform: translateY(-8rem);
                        }
                    }
                    .content {
                        .text-description {
                            margin-top: 1.5rem;
                        }
                        .link-list {
                            margin-top: .5rem;
                        }
                    }
                    @include mobile {
                        padding: 2rem;
                        .avatar {
                            min-height: 15rem;
                            margin: 0 auto;
                        }
                        .content {
                            .link-list {
                                flex-direction: column;
                            }
                        }
                    }
                }
                &.item2 {
                    max-width: calc(50% - 16px);
                    padding: 2rem 4rem 2.5rem 0;
                    background-color: #fff;
                    @include mobile {
                        max-width: calc(50% - 5px);
                    }
                    .avatar {
                        max-width: 17rem;
                        min-width: 17rem;
                        // height: 17rem;
                        position: relative;
                        img {
                            position: absolute;
                            width: 23rem;
                            left: 0;
                            top: 0;
                            display: block;
                            transform: translate(-3.2rem, -5.5rem);
                        }
                    }
                    .content {
                        .text-description {
                            margin-top: 1.5rem;
                        }
                        .link-list {
                            margin-top: .5rem;
                        }
                    }
                    @include mobile {
                        padding: 1rem;
                        .avatar {
                            max-width: 100%;
                            img {
                                width: 100%;
                                position: static;
                                transform: translate(0, 0);
                            }
                        }
                    }
                }
                &.item3 {
                    max-width: calc(50% - 16px);
                    border: 0;
                    @include mobile {
                        max-width: calc(50% - 5px);
                    }
                    .item-inside {
                        width: 100%;
                        .inside {
                            padding: 3rem 2rem 3rem 0;
                            border: 2px solid #F7781E;
                            border-radius: 1.2rem;
                            background-color: #fff;
                            display: flex;
                            .avatar {
                                max-width: 16.5rem;
                                min-width: 16.5rem;
                                min-height: 16.5rem;
                                margin-right: 0;
                                img {
                                    width: 23rem;
                                    display: block;
                                    transform: translate(-3rem, -8rem);
                                }
                            }
                            &.inside2 {
                                padding: 1.5rem 1rem 1.5rem 1rem;
                                justify-content: center;
                                border-color: #766f63;
                                p {
                                    font-size: 3rem;
                                    font-weight: 700;
                                    color: #000;
                                    line-height: 1;
                                }
                                @include screen1400 {
                                    p {
                                        font-size: 2.142vw;
                                    }
                                }
                                @include mobile {
                                    padding: 1rem;
                                    p {
                                        font-size: 1.4rem;
                                        line-height: 1.4;
                                    }
                                }
                            }
                            @include mobile {
                                padding: 1rem;
                                flex-direction: column;
                                align-items: center;
                                .avatar {
                                    min-height: 17rem;
                                    max-width: 100%;
                                    min-width: 1px;
                                    img {
                                        position: static;
                                        width: 100%;
                                        transform: translate(0, 0);
                                    }
                                }
                            }
                        }
                    }
                    .avatar {
                        max-width: 23rem;
                        min-width: 23rem;
                        position: relative;
                        margin-right: 3rem;
                        img {
                            position: absolute;
                            left: 0;
                            top: 0;
                            transform: translateY(-8rem);
                        }
                    }
                    .content {
                        .text-description {
                            margin-top: 1.5rem;
                        }
                        .link-list {
                            margin-top: .5rem;
                        }
                    }
                }
                &.item4 {
                    max-width: 84rem;
                    margin: 0 auto;
                    padding: 2rem 3rem 2.5rem 0;
                    background-color: #fff;
                    border-color: #766f63;
                    .avatar {
                        max-width: 23rem;
                        min-width: 23rem;
                        position: relative;
                        img {
                            position: absolute;
                            left: 0;
                            top: 0;
                            transform: translateY(-2rem);
                        }
                    }
                    .content {
                        .text-description {
                            margin-top: 1.5rem;
                            margin-left: 1rem;
                        }
                        .link-list {
                            margin-top: .5rem;
                        }
                        .support-list {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            padding-left: 1rem;
                            div {
                                width: calc((100% / 8) - 4px);
                                padding: 1rem 0;
                                border: 1px solid #F7781E;
                                color: #F7781E;
                                border-radius: 1rem;
                                font-size: 1.7rem;
                                font-weight: 700;
                                margin-top: 2rem;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                span {
                                    font-size: 2.2rem;
                                    display: block;
                                    margin-top: .4rem;
                                    font-style: italic;
                                }
                                &.sup0 {
                                    border-style: dotted;
                                    border-color: rgba(#000, .5);
                                    color: rgba(#000, .5);
                                    justify-content: center;
                                }
                                &.sup1 {
                                    border-color: #00A74D;
                                    color: #00A74D
                                }
                                &.sup2 {}
                            }
                            @include near_mobile {
                                padding: 0;
                                div {
                                    width: calc((100% / 4) - 4px);
                                }
                            }
                        }
                    }
                    @include mobile {
                        padding: 2rem;
                        .avatar {
                            min-height: 20rem;
                        }
                    }
                }
                &.item5 {
                    padding: 2rem 4rem 2.5rem 0;
                    background-color: #fff;
                    .avatar {
                        max-width: 23rem;
                        min-width: 23rem;
                        position: relative;
                        height: 18rem;
                        img {
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                    .content {
                        .text-description {
                            margin-top: 1.5rem;
                        }
                        .link-list {
                            margin-top: .5rem;
                        }
                    }
                    @include mobile {
                        padding: 2rem;
                        .avatar {
                            img {
                                position: static;
                                transform: translateY(-15%);
                            }
                        }
                        .content {}
                    }
                }
                &.item6 {
                    padding: 2rem 4rem 2.5rem 0;
                    background-color: #fff;
                    .avatar {
                        max-width: 23rem;
                        min-width: 23rem;
                        height: 15rem;
                        display: block;
                        position: relative;
                        img {
                            position: absolute;
                            width: 23rem;
                            top: 0;
                            left: 0;
                            transform: translate(-.8rem, -5rem);
                        }
                    }
                    .content {
                        .text-description {
                            margin-top: 1.2rem;
                        }
                        .to-support {
                            margin-top: 1.5rem;
                            &.to-sup2 {
                                border-color: #F7781E;
                                color: #F7781E;
                            }
                        }
                        .consultation-button {
                            margin-top: 1.5rem;
                        }
                    }
                    @include mobile {
                        padding: 2rem;
                        .avatar {
                            img {}
                        }
                        .content {}
                    }
                }
                &.item7 {
                    flex-wrap: wrap;
                    padding: 2rem 4rem 2.5rem 0;
                    background-color: #fff;
                    margin-bottom: 7rem;
                    .content {
                        width: 100%;
                        display: flex;
                        .avatar {
                            width: 100%;
                            min-width: 22rem;
                            max-width: 22rem;
                            height: 20rem;
                            display: block;
                            position: relative;
                            img {
                                position: absolute;
                                width: 23rem;
                                top: 0;
                                left: 0;
                                transform: translate(-1rem, -7.2rem);
                            }
                            &+div {}
                        }
                        .text-description {
                            margin-top: 1rem;
                        }
                    }
                    .wrap {
                        width: 100%;
                        max-width: 84rem;
                        margin: 0 auto;
                        &-title {
                            height: 3.2rem;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            background-color: #F7781E;
                            border-radius: 2rem;
                            figure {
                                width: 100%;
                                max-width: 4.4rem;
                            }
                            h4 {
                                font-weight: 700;
                                font-size: 2rem;
                                font-family: $font_noto;
                                color: #fff;
                                margin-left: 2.5rem;
                            }
                        }
                        .row {
                            max-width: calc(100% - 75px);
                            margin-left: auto;
                            margin-bottom: 4.5rem;
                            .clmm {
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                padding: 1rem;
                                font-size: 1.4rem;
                            }
                            .column {
                                p {
                                    margin-top: 2rem;
                                    font-family: $font_noto;
                                    font-size: 1.7rem;
                                    font-weight: 700;
                                    color: #F7781E;
                                }
                                .link-list {
                                    flex-direction: column;
                                    margin-left: 2rem;
                                    li {
                                        padding: .4rem 0;
                                        line-height: 1.4;
                                        font-size: 1.4rem;
                                    }
                                    a {
                                        padding-top: 0;
                                        margin-left: 1.5rem;
                                    }
                                }
                            }
                        }
                    }
                    @include mobile {
                        padding: 2rem;
                        margin-bottom: 4rem;
                        .content {
                            flex-direction: column;
                            .avatar {
                                margin: 0 auto;
                                img {
                                    position: static;
                                    transform: translate(-1rem, -2.5rem);
                                }
                            }
                        }
                        .wrap {
                            margin-top: 2rem;
                            .row {
                                max-width: 100%;
                                flex-wrap: wrap;
                                margin-bottom: 3rem;
                                .column {}
                            }
                        }
                    }
                }
            }
        }
    }
    &-title {
        width: 100%;
        min-height: 7rem;
        background-color: #f99245;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 10px 5px -5px #7c796d; //rgba(#000, .5);
        position: relative;
        @include onIE {
            height: 7rem;
        }
        &::after,
        &::before {
            content: '';
            display: block;
            width: 1.6rem;
            height: 1.6rem;
            background-color: #f99245;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%) rotate(45deg);
            z-index: -1;
        }
        &::before {
            box-shadow: 0 0 5px 5px #7c796d; // rgba(#000, .5);
        }
        &::after {
            z-index: 1;
        }
        figure {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 50%;
            transform: translate(-20%, -50%);
            >img {
                max-width: 10.6rem;
            }
        }
        .title {
            font-family: $font_noto;
            font-weight: 700;
            font-size: 3.8rem;
            color: #fff;
            z-index: 12;
        }
        @include screen1400 {
            min-height: 5vw;
            .title {
                font-size: 2.715vw;
            }
        }
        @include ipadpro {
            max-width: calc(100% - 7.8125vw);
            margin: 0 auto;
        }
        @include mobile {
            max-width: calc(100%);
            figure {
                >img {
                    max-width: 7rem;
                }
            }
        }
        @include near_mobile {
            .title {
                padding: .5rem .5rem .5rem 6rem;
                // padding-left: 6rem;
                line-height: 1.4;
                font-size: 1.8rem;
            }
        }
    }
    .intro {
        display: flex;
        margin-top: 7.5rem;
        .tag-title {
            min-width: 22.5rem;
            height: 6.7rem;
            display: flex;
            align-items: center;
            border: 3px solid #F7781E;
            border-radius: .8rem;
            position: relative;
            background-color: #fff;
            padding: 0 3rem 0 4rem;
            font-family: $font_noto;
            font-size: 3.5rem;
            color: #1A1A1A;
            font-weight: 500;
            color: #F7781E;
            margin-right: 3.5rem;
            margin-top: 2rem;
            &::after {
                content: '';
                width: 5rem;
                height: 5rem;
                display: block;
                // border-top: 4px solid transparent;
                border-top: 4px solid #F7781E;
                border-right: 4px solid #F7781E;
                // border-right: 0;
                border-radius: 8px;
                position: absolute;
                top: 50%;
                right: 0;
                background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 1) 50%);
                background-repeat: no-repeat;
                transform: translate(43%, -51%) rotate(45deg);
            }
        }
        p {
            font-family: $font_noto;
            font-size: 3.5rem;
            font-weight: 500;
            color: #1A1A1A;
            letter-spacing: .5rem;
        }
        &+.text-description {
            margin-top: 4rem;
            line-height: 1.6;
            letter-spacing: .2rem;
        }
        @include screen1400 {
            margin-top: 5.357vw;
            p {
                font-size: 2.5vw;
            }
            .tag-title {
                min-width: 16.07vw;
                height: 4.785vw;
                font-size: 2.5vw;
                margin-top: 1.428vw;
                margin-right: 2.5vw;
                &::after {
                    width: 3.57vw;
                    height: 3.57vw;
                }
            }
        }
        @include near_mobile {
            // margin-top: 3rem;
            flex-direction: column;
            &+.text-description {
                margin-top: 1.5rem;
            }
            p {
                font-size: 1.4rem;
                line-height: 1.4;
                br {
                    display: none;
                }
            }
            .tag-title {
                min-width: 16.07vw;
                height: auto;
                font-size: 1.6rem;
                padding: 0.5rem 1rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
                margin-right: 0;
                justify-content: center;
                &::after {
                    display: none;
                }
            }
        }
    }
    .decor.feature-decor {
        width: 100%;
        max-width: 30.4rem;
        margin: 0 auto;
        margin-top: 4rem;
    }
}